# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yamin\OneDrive - Instituto Superior de Engenharia de Lisboa\Mestrado\1o sem\CD\Trabalho_final\Server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
